@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {

  /**
   * color
   */

   
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 1%, 13%);

  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);

  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(210, 1%, 36%);
  --foreground-tertiary: hsl(0, 0%, 56%);

  --accent: hsl(229, 79%, 72%);
  --white: hsl(0, 0%, 100%);
  

  /**
   * typography 
   */

  --fs-base: 0.85rem;
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;
  --font-family: 'Poppins', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;

  /**
   * spacing 
   */

  --py: 5rem;

}

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: #fff;
  font-size: 1.5rem;
}
a:hover{
  color: #4c9fe3;
}

li {
  display: list-item;
  text-align: center;
  list-style: none;
  margin: 0;
}

li .footer-link{
  color: #fff;
  font-size: 1rem;
}


img, button { display: block; }

a, span {
  text-decoration: none;
  display: inline-block;
}

span{
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
  font-weight: bold;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-base); /* base font-size (0.85rem = 13.6px) */
  line-height: 1.8;
}

body{
  font-family: var(--font-family);
  
  letter-spacing: 1px;
  background-color: hsl(0, 1%, 13%);
}

/**
 * scrollbar style
 */

::-webkit-scrollbar { width: 12px; }


::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 2px solid;
}




/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }





/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}


.blog-post-container{
  display: block;
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn {
  min-width: 10rem;
  border-radius: 100px;
}

.btn-primary {
  background: var(--accent);
  color: var(--white);
  padding: 0.6875rem 1.1875rem;
}

.btn-primary:hover {
  background: var(--foreground-secondary);
  color: var(--action-primary);
}

.btn-secondary {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  padding: 0.5rem 1rem;
  border: 3px solid var(--foreground-tertiary);
}

.btn-secondary:hover { border-color: var(--accent); }





/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

header { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-secondary);
  width: 100%;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

#navbar.navbar.container{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.logo{
  color: #4c9fe3;
}

header .flex-wrapper { display: none; }


/*-----------------------------------*\ 
  #HERO SECTION
\*-----------------------------------*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--foreground-secondary);
  padding-top:    2rem;
  padding-bottom: var(--py);
  text-align: center;
}


.hero .h1 {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.container p {
  text-align: left;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero { text-align: center; }
/*-----------------------------------*\ 
  #BLOG SECTION
\*-----------------------------------*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-secondary);
  padding: var(--py) 0;
}


.blog .h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.blog-card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-card {
  display: flex;
  justify-content: center;
  background: var(--background-primary);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
}

.blog-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}

.blog-card-banner { display: none; }

.blog-content-wrapper { padding: 10px 5px; }

.blog-topic {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blog-topic:hover {
  background: var(--foreground-secondary);
  color: var(--action-secondary);
}

.blog-card .h3 {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.blog-card .h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.blog-text,
.profile-wrapper { display: none; }

.blog .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  flex-wrap:       wrap;
  gap: 15px;
}

.blog .h4 { color: var(--foreground-secondary); }

.blog .h4:hover { color: var(--accent); }

.blog .text-sm {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: var(--foreground-tertiary);
}

.blog .separator {
  background: var(--foreground-tertiary);
  margin-inline: 3px;
  margin: 0 3px; /* fallback for margin-inline */
  width:  3px;
  height: 3px;
  border-radius: 3px;
}

.blog ion-icon { --ionicon-stroke-width: 50px; }

.load-more {
  margin-inline: auto;
  margin: auto; /* fallback for margin-inline */
  background: var(--foreground-secondary);
  color: var(--background-secondary);
  padding: 0.6875rem 1.1875rem;
}

.load-more:hover { background: var(--accent); }





/*-----------------------------------*\ 
  #post
\*-----------------------------------*/
.body{
  background-color:hsl(0, 1%, 13%) ;
  color: #fff;
}
.blog-post{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
}

section{
  display: block;
}


img{
  max-width: 100%;
}

.section-header-offset{
  margin-top: 1.4rem;
}

.blog-post-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-block: 2.5rem;
}

.blog-post-title{
  font-size: 2rem; 
}

.blog-post-data .article-data{
  margin-bottom: 2.5rem;
}

.blog-post-data img{

  object-fit: cover;
  object-position: center;
}

.blog-post-container .container{
  max-width: 90rem;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--gap);
}


.quote{
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.quote p{
  font-style: italic;
}

.quote span{
  font-size: 5rem;
}




.author{
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background-color: hsl(0, 1%, 32%);
}

.author .author-image-box{
  max-width: 250px;
  max-height: 200px;
}

.author-image-box img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.author-about{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.author-name{
  padding-top: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  color: hsl(0, 20%, 99%);
  font-weight: 400;
}

.author-about p{
  max-width: 50rem;
  margin: 0;
  color: hsl(0, 1%, 66%);
}

.list{
  display: flex;
  align-items: center;
  gap: var(--gap);
}

ul{
  list-style: none;
}

.list-item a {
  color: hsl(0, 1%, 66%);
}

.author-about .social-media{
  margin-top: auto;
  margin-bottom: 0;
}




/*-----------------------------------*\ 
  #FOOTER
\*-----------------------------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--foreground-secondary);
}

footer .container {
  padding: var(--py) 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper p{
  color: var(--white);
}

.wrapper a {
  font-size: 1.2rem;
}

.footer-logo { margin-bottom: 10px; }

.footer-text {
  color: var(--foreground-secondary);
  max-width: 300px;
  margin-inline: auto;
  margin: auto; /* fallback for margin-inline */
}

.footer-title {
  color: var(--accent);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.footer-link { color: var(--foreground-secondary); }

.footer-link:hover { color: var(--accent); }

.copyright {
  color: var(--white);
  font-size: var(--fs-4);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--action-primary);
}




/*-----------------------------------*\ 
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

 @media (max-width: 500px) {

  .d-grid {
    display: flex;
    flex-direction: column;
  }
  
 }

@media (min-width: 550px) {

  :root {

    /**
     * typography 
     */

    --fs-base: 0.90rem;

  }


  /**
   * BLOG 
   */

  .blog-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20px;
  }

  .blog-card-banner {
    display: block;
    overflow: hidden;
    border-radius: 5px;
  }

  .blog-banner-img {
    width:  100%;
    height: 100%;
    object-fit: cover;
  }


  }



  



/**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

  :root {

    /**
     * typography 
     */

    --fs-1: 2.25rem;

  }



  /**
   * REUSED STYLE 
   */

  .container { padding: 0 30px; }



  /**
   * HEADER 
   */

  .navbar { padding: 30px 0; }



  /**
   * BLOG 
   */

  .blog .h2 {
    position: relative;
    text-align: left;
    padding-left: 2rem;
  }

  .blog .h2::before {
    content: '';
    position: absolute;
    top:  0;
    left: 0;
    background: var(--action-primary);
    width:  5px;
    height: 100%;
    border-radius: 5px;
  }

  .blog-text,
  .profile-wrapper { display: block; }

  .blog-text {
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .blog .wrapper-flex {
    display:         flex;
    justify-content: start;
    align-items:     center;
    gap: 10px;
  }

  .profile-wrapper {
    width:  56px;
    height: 56px;
    background: var(--action-primary);
    padding: 3px;
    border-radius: 50%;
  }

  .profile-wrapper img { border-radius: 50%; }

  .blog .wrapper {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }


  

  /**
   * FOOTER 
   */

  footer .container {
    padding: var(--py) 30px;
    grid-template-columns: 2fr 1fr 1fr;
  }

  footer .wrapper { text-align: left; }

  .footer-text { margin: 0; }

}





/**
 * responsive for larger than 768px screen
 */


@media (min-width: 768px) {

  /**
   * REUSED STYLE 
   */

  .container { max-width: 800px; }

  .blog-post-data img{
    height: var(--item-min-height-md);;
  }

  
}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  :root {

    /**
     * typography 
     */

    --fs-base: 1rem;
    --fs-1: 3rem;

  }



  /**
   * REUSED STYLE 
   */

  .container { max-width: 1150px; }



  /**
   * HEADER 
   */

  header .btn-group { display: none; }

  header .flex-wrapper {
    display: flex;
    gap: 30px;
  }



  /**
   * post
   */

   .blog-post-data img{
    height: 40rem;
  }

  /**
   * MAIN 
   */

  .main .container {
    display: grid;
  }



  /**
   * FOOTER 
   */

  .footer-title { font-size: 1.125rem; }

  .footer-link { margin-bottom: 0.3rem; }

}